{% extends 'base.html' %}
{% block content %}
  <body>
 <div class="col-md-7 col-md-offset-2  main">
            <form id="goods_form" method="post" action="{% url 'edit_goods' goods.id %}" enctype="multipart/form-data">
                {% csrf_token %}
    <div>
        <div class="upload-wr">
            <div >
                {% if  goods.picture %}
                        <div class="product_image_large"><img src="{{ goods.picture.url }}" alt={{ goods.name }} height="250px" width="250px"></div>
                {% endif %}
                <input type="hidden" name="default_picture" value={{goods.picture}}>
                <div align="center" class="btn btn-lg btn-info">{{ form.picture }} </div>
            </div>
        </div>

        <div class="form-wr">
            <div class="form-must-wr">
                <div class="form-item l goods-title">
                    <div class="form-key"><span>商品名称</span></div>
                    <div class="form-value">
                        <div class="form-input-wr">
                            {{ form.name }}
                        </div>
                    </div>
                </div>
                <div class="form-item xl goods-desc">
                    <div class="form-key"><span>商品详情</span></div>
                    <div class="form-value">
                        <div class="form-input-wr">
                            {{ form.description }}
                        </div>
                    </div>
                </div>
                <div class="form-item l goods-title">
                    <div class="form-key"><span>交易地点</span></div>
                    <div class="form-value">
                        <div class="form-input-wr">
                            {{ form.trade_location }}
                        </div>
                    </div>
                </div>
                <div class="form-item m goods-price">
                    <div class="form-key"><span>价格</span></div>
                    <div class="form-value">
                        <div class="form-input-wr">
                            {{ form.price }}
                        </div>
                    </div>
                </div>
                <div class="form-item m goods-price">
                    <div class="form-key"><span>数量</span></div>
                    <div class="form-value">
                        <div class="form-input-wr">
                            {{ form.quantity }}
                        </div>
                    </div>
                </div>
                <div class="form-item m goods-cat">
                    <div class="form-key"><span>分类</span></div>
                    <div class="form-value">
                        <div class="form-input-wr">
                              {{ form.category }}
                        </div>
                    </div>
                </div>


            </div>
            <hr class="form-sep-form clear" size="1" color="#D0E0E2"/>
            <div class="form-select"> 
                <div class="form-item m">
                    
                </div>

                <div class="form-item m">
                    <div class="form-key"><span>联系</span></div>
                    <div class="form-value">
                        <div class="form-input-wr">
                            {{ form.contact }}
                        </div>
                    </div>
                </div>
            
           <!--  <button type="button" class="btn btn-lg btn-primary" disabled="disabled" 
            style="width: 200px;margin-top: 20px; margin-left:250px">马上发布</button> -->
            <!-- <button type="button" class="form-submit" onclick="pre_release();">马上发布</button> -->
        </div>
    </div>

            <input type="submit" name="submit" class="btn btn-primary"
            style="width: 200px;margin-top: 20px; margin-left:250px" value="确认" />
        </form>

 </div>

        



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
{% endblock %}
