<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap Register Form Template</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../static/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="../../static/css/form-elements.css">
        <link rel="stylesheet" href="../../static/css/style.css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <!-- Favicon and touch icons -->
        <link rel="shortcut icon" href="../../static/ico/favicon.png">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../static/ico/apple-touch-icon-57-precomposed.png">

    </head>

    <body>

        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1><strong>二手商品交易系统</strong></h1>
                            <div class="description">
                            <!--	<p>
	                            	This is a free responsive login form made with Bootstrap. 
	                            	Download it on <a href="#"><strong>AZMIND</strong></a>, customize and use it as you like!
                            	</p> -->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3>人脸识别登录</h3>
                            		<p>对准摄像头:</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-key"></i>
                        		</div>
                            </div>
                            <div class="form-bottom">
			                 <input type="button" title="开启摄像头" value="开启摄像头" onclick="getMedia();" /><br />  
    <video height="350px" autoplay="autoplay"></video><hr />  
    <input type="button" title="拍照" value="拍照" onclick="getPhoto();" /><br />  
    <canvas id="canvas1" height="120px" ></canvas><hr />  
    <input type="button" title="视频" value="视频" onclick="getVedio();" /><br />  
    <canvas id="canvas2" height="120px"></canvas>  
  
    <script type="text/javascript">  
        var video = document.querySelector('video');  
        var audio, audioType;  
  
        var canvas1 = document.getElementById('canvas1');  
        var context1 = canvas1.getContext('2d');  
  
        var canvas2 = document.getElementById('canvas2');  
        var context2 = canvas2.getContext('2d');  
  
        navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia;  
        window.URL = window.URL || window.webkitURL || window.mozURL || window.msURL;  
  
        var exArray = []; //存储设备源ID  
        MediaStreamTrack.getSources(function (sourceInfos) {  
            for (var i = 0; i != sourceInfos.length; ++i) {  
                var sourceInfo = sourceInfos[i];  
                //这里会遍历audio,video，所以要加以区分  
                if (sourceInfo.kind === 'video') {  
                    exArray.push(sourceInfo.id);  
                }  
            }  
        });  
  
        function getMedia() {  
            if (navigator.getUserMedia) {  
                navigator.getUserMedia({  
                    'video': {  
                        'optional': [{  
                            'sourceId': exArray[1] //0为前置摄像头，1为后置  
                        }]  
                    },  
                    'audio':true  
                }, successFunc, errorFunc);    //success是获取成功的回调函数  
            }  
            else {  
                alert('Native device media streaming (getUserMedia) not supported in this browser.');  
            }  
        }  
  
        function successFunc(stream) {  
            //alert('Succeed to get media!');  
            if (video.mozSrcObject !== undefined) {  
                //Firefox中，video.mozSrcObject最初为null，而不是未定义的，我们可以靠这个来检测Firefox的支持  
                video.mozSrcObject = stream;  
            }  
            else {  
                video.src = window.URL && window.URL.createObjectURL(stream) || stream;  
            }  
  
            //video.play();  
  
            // 音频  
            audio = new Audio();  
            audioType = getAudioType(audio);  
            if (audioType) {  
                audio.src = 'polaroid.' + audioType;  
                audio.play();  
            }  
        }  
        function errorFunc(e) {  
            alert('Error！'+e);  
        }  
  
          
        // 将视频帧绘制到Canvas对象上,Canvas每60ms切换帧，形成肉眼视频效果  
        function drawVideoAtCanvas(video,context) {  
            window.setInterval(function () {  
                context.drawImage(video, 0, 0,90,120);  
            }, 60);  
        }  
  
        //获取音频格式  
        function getAudioType(element) {  
            if (element.canPlayType) {  
                if (element.canPlayType('audio/mp4; codecs="mp4a.40.5"') !== '') {  
                    return ('aac');  
                } else if (element.canPlayType('audio/ogg; codecs="vorbis"') !== '') {  
                    return ("ogg");  
                }  
            }  
            return false;  
        }  
  
        // vedio播放时触发，绘制vedio帧图像到canvas  
//        video.addEventListener('play', function () {  
//            drawVideoAtCanvas(video, context2);  
//        }, false);  
  
        //拍照  
        function getPhoto() {  
            context1.drawImage(video, 0, 0,90,120); //将video对象内指定的区域捕捉绘制到画布上指定的区域，实现拍照。  
        }  
  
        //视频  
        function getVedio() {  
            drawVideoAtCanvas(video, context2);  
        }  
  
    </script>   
			                <!--    	<div class="form-group">
			                    		<label class="sr-only" for="form-username">Username</label>
			                        	<input type="text" name="form-username" placeholder="邮箱..." class="form-username form-control" id="form-username" >
										<button type="submit" class="btn-info">获取验证码</button>
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-password">Password</label>
			                        	<input type="password" name="form-password" placeholder="验证码..." class="form-password form-control" id="form-password">
			                        </div>
									 <button type="submit" class="btn">提交</button>-->
							<div class="social-login-buttons">
							<a href="{% url 'register' %}" target="_blank">账号注册</a>
	                        	<a href="{% url 'register' %}" target="_blank">密码登录</a>
	                        	<a href="{% url 'register' %}" target="_blank">验证码登录</a>
	                        	<a href="{% url 'register' %}" target="_blank">人脸识别登录</a>		
						
                        	</div>
			                    </form>
		                    </div>
                        </div>
                    </div>
                <!--    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 social-login">
                        	<h3>...or login with:</h3>
                        	<div class="social-login-buttons">
	                        	<a class="btn btn-link-1 btn-link-1-facebook" href="#">
	                        		<i class="fa fa-facebook"></i> Facebook
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-twitter" href="#">
	                        		<i class="fa fa-twitter"></i> Twitter
	                        	</a>
	                        	<a class="btn btn-link-1 btn-link-1-google-plus" href="#">
	                        		<i class="fa fa-google-plus"></i> Google Plus
	                        	</a>
                        	</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="copyrights">Collect from <a href="http://www.cssmoban.com/"  title="网站模板">网站模板</a></div>
		-->

        <!-- Javascript -->
        <script src="../../static/js/jquery-1.11.1.min.js"></script>
        <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
        <script src="../../static/js/jquery.backstretch.min.js"></script>
        <script src="../../static/js/scripts.js"></script>
        
        <!--[if lt IE 10]>
            <script src="../../static/js/placeholder.js"></script>
        <![endif]-->

    </body>

</html>